<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autores de <%= title %></h1>
    <p>German Alvarez y Ignacio Pascual</p>
    <img src="images/f1.png" alt="Imagen no apta para su navegador">
    <img src="images/f2.jpg" alt="Imagen no apta para su navegador">
  </body>
</html>