body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
header, nav, section { background: #eee; text-align: center;}
 footer               { background: #eee; text-align: center;}
nav span { margin: 0px 10px 0px 0px;}

#ErrorMsgs { color: #f61; font-size: smaler}